<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <p>요청한 계정 정보는 아래와 같습니다.</p>
      <hr />
      <ul>
        <li>사이트 : https://www.moram.com</li>
        <li>이메일 :</li>
        <li>닉네임 :</li>
        <li>비밀번호 :</li>
      </ul>
      <span>아래 링크를 클릭하면 위에 적힌 비밀번호로 변경됩니다.</span>
      <p>로그인 후 다른 비밀번호로 변경해 주시기 바랍니다.</p>
      <p>링크를 클릭하지 않으면 비밀번호가 변경되지 않습니다.</p>
      <a
        href="https://www.dogdrip.net/index.php?module=member&amp;act=procMemberAuthAccount&amp;member_srl=45717627&amp;auth_key=5d3d2b7800cdbc6f568b8d1603c08998bae5a47b"
        rel="noreferrer noopener"
        target="_blank"
        >https://www.dogdrip.net/index.php?module=member&amp;act=procMemberAuthAccount&amp;member_srl=45717627&amp;auth_key=5d3d2b7800cdbc6f568b8d1603c08998bae5a47b</a
      >
    </div>
  </body>
</html>
